*, *:before, *:after{
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #000000;
	color: white;
	font-family: sans-serif;
	font-size: 17px;
}

#container {
	display: flex;
}

#canvases {
	position:absolute;
	width: 100vh;
	height: 100vh;
	z-index: -1;
}

.hover {
	position: absolute;
}

.hover-row {
	display: flex;
	width: 100vh;
	height: 12.5vh;
}

.hover-square {
	display: table;
	width: 12.5vh;
	height: 12.5vh;
}

.hover-square:hover {
	background-color: rgba(0, 0, 0, .5);
}

.hover-square p {
	display: none;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}

.hover-square:hover p {
	display: table-cell;
}

#canvas1, #canvas2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vh;
}

.controls {
	font-size: 15px;
}

input[type="text"] {
	display: block;
	margin-bottom: 5px;
	width: 5em;
}

#color {
	width: 6em;
}

button {
	background-color:white;
	border: 1px solid darkgray;
	padding: 6px;
	margin: 5px 0;
}

#description {
	width: 60vh;
	font-size: 20px;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

#single1, #single2 {
	position:absolute;
	width: 30vh;
	height: 30vh;
	margin-top: 10px;
}
