*, *:before, *:after{
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #000000;
}

canvas {
	position: absolute;
	width: 800px;
}

p {
	position: absolute;
	bottom: 5px;
	font-family: sans;
	font-size: 10px;
}
